<div class="mdc-layout-grid">
    <ui-alert titile="Aqui" message="error"></ui-alert>

    <div class="mdc-layout-grid__cell--span-12-desktop">
        <button ng-click="ctrl.retornar()" class="mdc-button">
            <div class="mdc-button__ripple"></div>
            <i class="material-icons mdc-icon-button__icon">reply</i>
            <span class="mdc-button__label"> Voltar a lista de cidades</span>
        </button>
        <h3>{{ctrl.title}}</h3>

        <div class="mdc-card mdc-card--outlined">
           
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop input-and-label">
                    <label>Cidade</label>
                   <input type="text" ng-model="ctrl.cidade.nome" >
                   <div ng-if="ctrl.error.path == 'nome'" style="color: red"> {{ctrl.error.message}}</div>
                </div>
            </div>
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop input-and-label">
                    <label>UFs</label>
                    <select name="" id="" ng-model="ctrl.cidade.uf">
                        <option value="{{uf.value}}" ng-repeat="uf in ctrl.ufs">{{uf.descricao}} - {{uf.value}}</option>
                    </select>
                    <div ng-if="ctrl.error.path == 'uf'" style="color: red"> {{ctrl.error.message}}</div>
                </div>
            </div>
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop input-and-label">
                    <button ng-click="ctrl.salvar()" class="mdc-button">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label"> {{ctrl.button_text}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- dialog -->

<div class="mdc-dialog">
    <div class="mdc-dialog__container">
      <div class="mdc-dialog__surface"
        role="alertdialog"
        aria-modal="true"
        aria-labelledby="my-dialog-title"
        aria-describedby="my-dialog-content">
        <!-- Title cannot contain leading whitespace due to mdc-typography-baseline-top() -->
        <h2 class="mdc-dialog__title" id="my-dialog-title"><!--
       -->Deseja continuar {{$id}}<!--
        
     --></h2>
  
        <div class="mdc-dialog__content" id="my-dialog-content">
          Deseja salvar
        </div>
        <footer class="mdc-dialog__actions">
          <button type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Cancelar</span>
          </button>
          <button  ng-click="ctrl.confirmado()"type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes">
            <div class="mdc-button__ripple"></div>
            <span  class="mdc-button__label">Salvar</span>
          </button>
        </footer>
      </div>
    </div>
    <div class="mdc-dialog__scrim"></div>
  </div>

  