{{ctrl.cidade}}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__cell--span-12-desktop">
        <div class="row-text">
            <h1>Quadro Geral</h1>

            <button ng-click="ctrl.verCidades()" class="mdc-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Ver Cidades</span>
            </button>

        </div>
        <div class="grid-table-main">
            <h4 ng-if="!ctrl.quadro.geral || ctrl.quadro.geral.length == 0">Nenhum dado disponível</h4>
            <mdTable class="teste mdc-data-table" ng-if="ctrl.quadro.geral &&  ctrl.quadro.geral.length > 0">
                <table class="mdc-data-table__table" aria-label="Dessert calories">
                    <thead>
                        <tr class="mdc-data-table__header-row">

                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">UF</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Casos Suspeito</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Casos em análise</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Casos
                                confirmados
                            </th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Casos
                                descartados
                            </th>
                        </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                        <tr class="mdc-data-table__row" ng-repeat="q in ctrl.quadro.geral">
                            <td class="mdc-data-table__cell">{{q.uf}} </td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{q.caso_suspeito}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{q.caso_analise}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{q.caso_confirmado}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{q.caso_descartado}} </td>
                        </tr>
                    </tbody>
                </table>
            </mdTable>
        </div>
        <div class="row-text">
            <h1 class="mdc-typography--headline3">Quadro por cidade</h1>
            <button ng-click="ctrl.verPessoas()" class="mdc-button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">Ver Pesoas</span>
            </button>
        </div>
        <div class="grid-table-main">
            <h4 ng-if="!ctrl.quadro.cidade[1] ||  ctrl.quadro.cidade[1].length == 0">Nenhum dado disponível</h4>
            <mdTable class="teste mdc-data-table" ng-if="ctrl.quadro.cidade[1] && ctrl.quadro.cidade[1].length > 0">
                <table class="mdc-data-table__table" aria-label="Dessert calories">
                    <thead>
                        <tr class="mdc-data-table__header-row">
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Cidade</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">UF</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Casos Suspeito</th>
                            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric"
                                role="columnheader" scope="col">Casos em análise</th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Casos confirmados
                            </th>
                            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Casos descartados
                            </th>
                        </tr>
                    </thead>
                    <tbody class="mdc-data-table__content">
                        <tr class="mdc-data-table__row" ng-repeat="quadro in ctrl.quadro.cidade[1]">
                            <td class="mdc-data-table__cell">{{quadro.nome}}</td>
                            <td class="mdc-data-table__cell ">{{quadro.uf}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{quadro.suspeito}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{quadro.analise}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{quadro.confirmado}}</td>
                            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">{{quadro.descartado}}</td>
                        </tr>
                    </tbody>
                </table>
            </mdTable>
        </div>
    </div>
</div>
</div>